

/*контакты в шапке*/

a {
  text-decoration:none;
  color: rgb(37, 2, 213) 
}

h1 {
  text-transform: uppercase;
  text-align: center;


}
h1:focus,
h1:hover {
 color:  #0e35e2;

}
/*--Шапка сайта--*/

.logo{

  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 80px;
  }
  
  .site-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    letter-spacing: 0.02em;
  
  }
  .conteiner-a {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  }
  
  .flexbox {
  display: flex;
  
  }
  
  .menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #130cce;
    fill: #130cce;
   
  
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .menu-link:focus,
  .menu-link:hover {
    color:  #e00808;
    fill:  #eb1717;
  
  }
  .menu-link:focus,
  .menu-link:hover {
    color:var(--accent-color);
  
    }
  .menu-list {
    list-style: none;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    }
  
    .menu-list li {
     
  margin-right: 35px;
  
    }
  
    .menu-contact{
    list-style: none;
    align-items: center;
    text-decoration: none;
    /* display: flex; */
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .menu-contact li {
    padding-top: 45px;
    /* padding-bottom: 30px; */
  /*outline: 2px solid #2196f3;*/
   /* margin-right: 30px; */
    }

     .menu-item {
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.14px;
  letter-spacing: 0.02em; 
  
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  .menu-contact li:nth-child(2n+0){
    margin-right: 0;
  }
  
  .menu-item {
    color: #1848e8;
  
  }
  
  .menu-item:focus,
  .menu-item:hover {
   color:  #2196f3;
   fill:  #2196f3;
  }
  
   .icon-mail {
   margin-right: 10px;
   width: 16px;
   height: 12px;
   fill: currentColor;
   }
  
   .icon-smartphone{
   margin-right: 10px;
   width: 10px;
   height: 15px;
   fill: currentColor;
   }


/*Портфолио*/

.block-text{
padding-left: 24px;
padding-right: 24px;
padding-bottom: 20px;
padding-top: 20px;
}

.container-li {
margin-bottom: 30px;
border: 1px solid #EEEEEE;

}
.container-li:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
}

.container-li:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
}
.img {
  display: block;
  width: 301;
  height: 270px;
}


/*соцсети футер*/
.soc-footer {
  
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
}

.soc-footer:hover,
.soc-footer:focus {
background-color: var(--accent-color);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/*кнопка футер*/
 .fly::after {
   display:inline-block;
   content: "";
   width: 15px;
   height: 15px;
   margin-left: 10px;
   background-image: url(../images/sprite/fly.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: right;
  
 }
 


html {
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/*навигация*/
 .container-heder {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  
}
.nav {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.menu-items{
    /* display: flex; */
    align-items: center;
    margin-left: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    list-style: none;
}

.flex-nav {
    display: flex;
}
.flex-nav li + li {
 margin-left: 50px;
}
/* .flex-nav li {
/*outline: 2px solid #2196f3;*/
/* } */ */

/* 
  .menu-items {
    /* display: flex;
      } */ */
  .menu-items li + li {
 margin-left: 30px;
  }
  .menu-button li + li {
    margin-left: 8px;
    list-style: none;

  
  }
  
 


/*<!--Флекс оформление-->*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  
  /*outline: 2px solid #f06e22;*/
}
   
.section {
  padding-bottom: 94px;
    /* padding-top: 94px;  */
    border-top: 1px solid#ECECEC;
}

.container-filter {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  

}
.button:not(:last-child) {
  margin-right: 8px;
  border-radius: 4px;
}
/*блоки*/

.container-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.container-li {
  display: block;
 margin-right: 30px;
  width: calc((100% - 60px) / 2); 
}
  .container-li:nth-last-child(-n + 2) {
    margin-bottom: 0;  
   
}

.container-li:nth-child(2n+0) {
  margin-right: 0;
}
/*футер*/

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  }
.footer {
  background-image:    
    url(../images/bamk/10.webp);
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    padding-top: 30px;
  }

 

.footer > .container {
  display: flex;
  justify-content: space-between;
}
.footer-block > a.logo {
    display: inline-block;
    margin-top: 60px;
  }

.address {
    list-style: none;
}

.address .contacts {
  display: block;
  color: var(--part-txt-color);
  list-style: none;
  padding: 0;
}
.block-padding{
  padding-left: 0;
  padding-right: 0;
}

.footer-block >.heder-social{
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 72px;
  margin-bottom: 20px;
}

.footer-social  {
  display: flex;
   list-style: none;
  
}
.link-items:not(:last-child) {
    margin-right: 10px;
  }

  

:root {
   --main-txt-color: #212121;
   --part-txt-color: #ffffff;
  --accent-color: #2196f3;
  --accent-bg-color: #2196f3;
  --main-bg-color: #ffffff;
  --sec-txt-color: #757575;
  --features-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}


body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  background: var(--main-bg-color);
}
/*.caption {
  color: var(--part-txt-color);
  margin-bottom: 0px;
margin-top: 0px;
border-top: 1px solid#ECECEC;

}*/



.menu-list {
  list-style: none;
}



.title {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
text-decoration: none;

}
.subtitle {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.88px;
letter-spacing: 0.03em;
color: var(--sec-txt-color);
text-decoration: none;

}





.text { 
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--part-txt-color);
}

.box-hover {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio-link img{
  display: block;
}

.port-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);


  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.text {
  padding: 0;
  margin: 0;
  color: 250ms;
}
.portfolio-link:hover .port-text {
  overflow: visible;
  transform: translateY(0);
  transition-duration: 250ms, cubic-bezier(0.4, 0, 0.2, 1);

}









.footer{
  background-image:    
  url(../images/bamk/10.webp);
 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  padding-top: 30px;
  
  
  
}
  
  .logo-footer{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color:var(--part-txt-color);
  
  }
  .logo-footerpart {
    color: var(--accent-color);
  }
  .footer-block > a.logo {
    display: inline-block;
    margin-top: 60px;
    margin-left: 0;
  }

.address {
     margin-top: 20px;
    list-style: none;
  color: var(--part-txt-color);
  list-style: none;
    padding: 0;
}
.block-padding{
  padding-left: 0;
  padding-right: 0;
}

.address .contacts {
  color: var(--part-txt-color);
  list-style: none;
  padding: 0;
}
  .contacts {
  font-style: normal;
  color: var(--part-txt-color);
  text-decoration: none;
  }
  
  .contacts-item {
    display: block;
    text-decoration: none;
    font-style: normal;
    list-style: none;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
  }

  .footer > .conteiner {
    display: flex;
    justify-content: space-between;
  }
  .footer-block >.heder-social{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .footer-social  {
    display: flex;
     list-style: none;
  
  }
  .link-items:not(:last-child) {
      margin-right: 10px;
    }

  .heder-social{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--part-txt-color);
  }
  
.soc-footer {
  
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
}

.soc-footer:hover,
.soc-footer:focus {
background-color: var(--accent-color);
transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


  .aside {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color:var(--part-txt-color);
  }